body {
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100vh;
    margin: 0;
    background: #222;
    font-family: 'Roboto', sans-serif;
    font-size: 120%;
}

.card {
    background: #000000d0;
    color: white;
    padding: 2em;
    border-radius: 30px;
    width: 100%;
    margin: 1em;
    max-width: 460px;
}

.card .search {
    display: flex;
    align-items: center;
    justify-content: center;
}
.card button {
    margin: 0.5em;
    border-radius: 50%;
    border: none;
    width: 42.4px;
    height: 42.4px;
    background: #7c7c7c2b;
    color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
.card button:hover {
    background: #7c7c7c6b;
}

.card input.search-bar {
    border: none;
    padding: 0.5em 1em;
    background: #7c7c7c2b;
    color: white;
    font-family: inherit;
    font-size: 120%;
    border-radius: 24px;
    outline: none;
    width:cal(100% -100px);

}


